# Ignore virtual environments
venv/
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore DVC cache directory
.dvc/

# Ignore dataset and model files
data/
model/

# Ignore log files
logs/
*.log

# Ignore output artifacts
*.pkl
*.h5
*.onnx

