# Ignore virtual environments
venv/
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore DVC cache directory
.dvc/

# Allow tracking of specific dataset files with DVC
!data/cat_dogs.dvc
!data/.gitignore  # Ensure DVC can manage the folder

# Ignore other dataset and model files
#data/*
#!3data/cat_dogs/  # Allow tracking this dataset
#model/

# Ignore log files
logs/
*.log

# Ignore output artifacts
*.pkl
*.h5
*.onnx

.env
.dvc/config
